
// .md-table.md-table.md-data-table-card-list > thead{
//   display: none;
// }

.md-table.md-table.md-data-table-card-list > tbody > tr.md-row{
  height: initial;

  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
  border-radius: 2px;

  margin: 13px;
  margin-top: 16px;
}


.md-table.md-data-table-card-list tbody,
.md-table.md-data-table-card-list > tbody > tr,
.md-table.md-data-table-card-list > tbody > tr > td.md-cell{
  display: block;
}


/* Cell (td) */
.md-table.md-data-table-card-list > tbody > tr > td.md-cell{
  vertical-align: middle;
  text-align: right;
  font-size: @md-font-size;
  padding: 24px !important;
}

// we don't want a checkbox
.md-table.md-data-table-card-list > tbody > tr > td.md-cell.md-checkbox-cell{ display: none;}

.md-data-table-card-list td:before{
  content: attr(data-title);
  float: left;
  font-size: inherit;
  color: rgba(0, 0, 0, 0.54);
  font-weight: bold;
  white-space: nowrap;
}

.md-data-table-card-list .card-list-header th.md-column.md-checkbox-column{
  display: none;
}

.table-striped.md-table.md-data-table-card-list {
  background-color: rgb(250,250,250);
}
.table-striped.md-table.md-data-table-card-list > tbody > tr > td.md-cell:nth-child(even) {
    background-color: @md-bg;
}
.table-striped.md-table.md-data-table-card-list > tbody > tr > td.md-cell:nth-child(odd) {
    background-color: @md-strip;
}

// we want the background to change its color when we are hovering
.table-striped.md-table.md-data-table-card-list > tbody > tr:hover > td.md-cell {
    background-color: transparent;
}
.table-striped.md-table.md-data-table-card-list > tbody > tr{
  // we don't want to have transitions
  // as the background color is different for each row in 'table-striped'
  // therefore the transition would be the same for each row
  transition: none !important;

  &:hover{
    transition: background-color 0.2s !important;
  }
}

.table-striped.md-table.md-data-table-card-list > tbody > tr[ng-click]:hover{
  cursor: pointer;
}


// header with ordering
md-menu-item.md-column {
  color: @md-dark-secondary;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;

  &.md-sort {
    cursor: pointer;
  }

  md-icon {
    height: 16px;
    width: 16px;
    font-size: 16px !important;
    line-height: 16px !important;

    &.md-sort-icon {
      color: @md-dark-disabled;
      opacity: 0.5;
      transition: transform 0.25s, opacity 0.25s;

      &.md-asc {
        transform: rotate(0deg);
      }

      &.md-desc {
        transform: rotate(180deg);
      }
    }

    &:not(:first-child) {
      margin-left: 8px;
    }

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  &.md-active,
  &.md-active md-icon {
    color: @md-dark;
  }

  &:hover md-icon.md-sort-icon,
  &.md-active md-icon.md-sort-icon {
    opacity: 1;
  }
}
